mat-form-field{
    width:655px;
  }

  mat-label{
    font-size: 16px
  }

  input{
    font-size: 32px;
  }

  div{
    margin-bottom:20px;
  }

  label{
    width: 655px;
    height: 70px;
    font-family: Roboto;
    font-size: 64px;
    text-align: center;
    color:      #FFFFFF;
  }

  button{

    margin-top: 40px;
    margin-bottom: 50px;
    width: 655px;
    height: 75px;

    background: #EF3340;
    font-size: 32px;
    font-weight: 64px;
    font-family: Roboto;

    color: #FFFFFF;

  }

  #sysLbl{
    display: inline-block;

    margin-top: 50px;
    margin-bottom: 80px;

    width: 630px;
    height: 150px;
    left: 50px;
    top: 40px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 75px;

    color: #002855;
  }

  #teclogo{
    width:660;
    height:130px;
  }
